<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="{{ .Params.author.name }}">
    <base href="{{ .Site.BaseURL }}">
    <link href="./main.css" rel="stylesheet">
    <title>{{ if ne .Page.Title .Site.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
  </head>
  <body>
    <noscript>
      <a href="{{ .Permalink | strings.TrimRight `/` }}#main">Skip to content</a>
    </noscript>
    <main>
      {{ block "main" . }}
      {{ end }}
    </main>
    <nav>{{ partial "navbar.html" . }}</nav>
    <footer>{{ partial "footer.html" . }}</footer>
  </body> 
</html>
