:root {
  color-scheme: light dark;
}
p {
  text-indent: 4em;
}
code {
  background-color: darkslategrey;
  color: white;
  border: .1em solid;
  border-color: lightslategrey;
  border-radius: .5em;
  padding: .3em .2em .0em .2em;
  font-family: monospace;
}

